.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1 {
  margin: 0px;
}
.App-header p {
  margin: 0px;
}
.weather-icon {
  width: 100px;
  height: 100px;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}
